{
  "ConnectionString": "mongodb://localhost:27017",
  "DataBaseName": "blaash_identity",
  "NPGSQLConnectionString": "Host=103.212.120.203;Username=root;Password=root;Database=identity;",
  "WWWRootFolder": "/wwwroot",
  "HttpPort": "807",
  "HttpsPort": "407",
  "RelyingPartyUrls": "https://localhost:4443,http://localhost:880",
  "MobileRelyingPartyUrls": "",
  "IsSSO": "true",
  "AppEndpoint": "https://localhost:407",
  "ApiGatewayEndpoint": "https://localhost:406",
  "SSOUrl": "https://localhost:407",
  "AppSecret": "sqaSecret",
  "hello": {
    "a": "my code",
    "b": "abc"
  }
}

