<div ng-controller="ZNxtAppAdmin.addOauthclientCtrl">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel" ng-hide="showPassword">
                <div class="x_title">
                    <h2>Create New OAuth client</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <form name="frmAddClient">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group" ng-class="{'has-error' : frmAddClient.inputclientId.$touched && frmAddClient.inputclientId.$invalid}">
                                    <label for="inputclientId"> Client Id </label>
                                    <input type="number" class="form-control" name="inputclientId" id="inputclientId" placeholder="Enter client id" ng-model="client.client_id" maxlength="4" ng-minlength="4" required />
                                    <span class="help-block" ng-show="frmAddClient.inputclientId.$touched && frmAddClient.inputclientId.$invalid">Enter 4 digits number.</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group" ng-class="{'has-error' : frmAddClient.inputclientName.$touched && frmAddClient.inputclientName.$invalid}">
                                    <label for="inputclientName"> Client Name </label>
                                    <input type="text" class="form-control" name="inputclientName" id="inputclientName" placeholder="Enter client name" ng-model="client.name" maxlength="20" ng-minlength="5" required />
                                    <span class="help-block" ng-show="frmAddClient.inputclientName.$touched && frmAddClient.inputclientName.$invalid">Name is required and min length 5 chars.</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <span ng-repeat="g in client.allowed_scopes" class="label label-info" style="margin:5px">
                                <span>{{g}}</span>
                                <a><i class="remove glyphicon glyphicon-remove-sign glyphicon-white" style="cursor:pointer" ng-click="removeRole(g);"></i></a>
                            </span>
                        </div>
                        <br />
                        <div class="col-md-12" ng-hide="client.allowed_scopes.length == allRoles.length">
                            <div class="dropdown">
                                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                                    Add Roles
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li ng-repeat="ag in allRoles"><a class="dropdown-item" href="JavaScript:void(0);" ng-click="addRole(ag)">{{ag.name}}</a></li>
                                </ul>
                            </div>
                        </div>
                    </form>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <button class="btn btn-default" ng-click="createClient();" ng-class="{'disabled': frmAddClient.$invalid}">
                                Create Client
                            </button>
                            <button class="btn btn-default" ng-click="close()">
                                Cancel
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="x_panel" ng-show="showPassword">
                <div class="x_title">
                    <h2>Client cleated succefully</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <b>Client name: {{client.name}}</b>
                    <p>Client secret: {{client.client_secret}}</p>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <button class="btn btn-default" ng-click="close()">
                                Close
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>