@model RedirectViewModel

<div class="login-page">
    <div class="page-header">
        <h1>Password Created Successfully</h1>
    </div>
    <partial name="_ValidationSummary" />
    <div class="row">
        <div class="col-sm-12">
            <form asp-route="passsuccessappredirect">
                <input type="hidden" asp-for="RedirectUrl" />
                Re-login to your application using new password 
            </form>
        </div>
    </div>
</div>