@model LoginViewModel

<div class="login-page">

    <div class="page-header">
        <h4>Forget Password</h4>
    </div>
    <partial name="_ValidationSummary" />
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-body">

                    <div id="divDetails">
                        <div>
                            <div class="form-group">
                                <label></label>
                                <input type="text" class="form-control" placeholder="Enter your username" id="txtUserName" autocomplete="on">
                            </div>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-primary" name="button" id="btnsendotp">Send OTP to my email</button>
                            <button class="btn btn-default" style="display:none" id="btnsendingotpprogress">Sending OTP...</button>
                        </div>
                    </div>
                    <form  id="frmvalidatepass">
                        <input type="hidden" asp-for="ReturnUrl" />
                        <div id="divValidateOTP" style="display:none">
                            <div>
                                <div class="form-group">
                                    <label></label>
                                    <input type="text" class="form-control" disabled id="txtUserNameDisplay">
                                    <input type="hidden" class="form-control" asp-for="Username" name="Username" id="txtUserNameHidden">
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" asp-for="ResetPassOTP"  name="ResetPassOTP" placeholder="Enter OTP" id="txtOtp">
                                </div>
                            </div>
                            <div class="form-group">
                                <button class="btn btn-primary" name="button" id="btnvalidateotp" value="login">Validate OTP </button>
                                <button class="btn btn-default" style="display:none" id="btnvalidationpprogress">Validating OTP...</button>
                            </div>
                        </div>
                    </form>

                    <div id="successSummary" style="display:none" class="alert alert-primary" role="alert">
                        <h6> OTP sent to your register email </h6>
                    </div>
                    <div id="notFoundErrorSummary" style="display:none" class="alert alert-danger" role="alert">
                        <h6> User not found</h6>
                    </div>
                    <div id="errorSummary" style="display:none" class="alert alert-danger" role="alert">
                        <h6> Something went wrong in server. </h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function () {

            function init() {

                $("#successSummary").hide();
                $("#errorSummary").hide();
                $("#divDetails").show();
                $("#notFoundErrorSummary").hide();
            }
            init();
            $("#btnsendotp").click(function () {
                init();
                $("#validationsummary").hide();
                if ($("#txtUserName").val().length == 0) {
                    alert('please enter user name address')
                    return;
                }
                $("#btnsendingotpprogress").show();
                $("#btnsendotp").hide();
                $.ajax({
                    type: "POST",
                    url: "../api/user/forgetpass/sendotp?user_name=" + $("#txtUserName").val(),
                    success: function (responseData) {
                        console.log(responseData);
                        if (responseData.code == 1) {
                            $("#txtUserNameDisplay").val($("#txtUserName").val());
                            $("#txtUserNameHidden").val($("#txtUserName").val());
                            $("#divDetails").hide();
                            $("#divValidateOTP").show();
                        }
                        else if (responseData.code == 404) {
                            $("#notFoundErrorSummary").show();
                            $("#btnsendingotpprogress").hide();
                            $("#btnsendotp").show();
                        }
                        else {
                            $("#errorSummary").show();
                            $("#btnsendingotpprogress").hide();
                            $("#btnsendotp").show();
                        }
                    },
                    error: function (request, status, error) {
                        $("#errorSummary").show();
                        $("#btngetusernameprogress").hide();
                        $("#btnsendotp").show();
                    }
                });

            });
            $("#frmvalidatepass").submit(function (event) {
                $("#btnvalidateotp").hide();
                $("#btnvalidationpprogress").show();

                $.ajax({
                    type: "POST",
                    url: './login?button=ok',
                    dataType: "text/html",
                    data: $('#frmvalidatepass').serialize(),
                    success: function (result) {
                        $("#successSummary").show();
                        window.location.replace("../passwordset?returnUrl=%2F")
                    },
                    error: function (request, status, error) {
                        $("#validationsummary").show();
                        $("#validationsummary").html("Error While validation OTP");
                        $("#btnvalidateotp").show();
                        $("#btnvalidationpprogress").hide();
                    }
                });
                event.preventDefault();
            });

        });
    </script>

</div>