{
  "ConnectionString": "mongodb://localhost:27017",
  "DataBaseName": "sample_app_blaash",
  "WWWRootFolder": "/wwwroot",
  "HttpPort": "880",
  "HttpsPort": "480",
  "AppEndpoint": "https://localhost:480",
  "ApiGatewayEndpoint": "https://localhost:406",
  "RelyingPartyUrls": "https://localhost:4443,http://localhost:880",
  "SSOUrl": "https://localhost:407",
  "AppSecret": "sqaSecret",
  "IsSSO": "true"
}

