{
"ConnectionString":"mongodb://localhost:27017",
"DataBaseName" : "sample_app_blaash",
"WWWRootFolder" :"/wwwroot",
"HttpPort" : "880",
"HttpsPort" : "4443",
"AppEndpoint" : "http://localhost:880",
"ApiGatewayEndpoint" : "http://localhost:806",
"SSOUrl" : "http://localhost:807",
"AppSecret" : "sqaSecret",
"IsSSO" : "false"
}

