{
"ConnectionString" : "mongodb://localhost:27017",
"DataBaseName" : "ZNxtCore_identity",
"WWWRootFolder" :"/wwwroot",
"KeyValueFileStoragePath" : "c:\\temp",
"AppEndpoint" : "http://localhost:5000",
"ApiGatewayEndpoint" : "https://localhost:44373",
"SSOUrl" : "http://localhost:5000",
"AppName" : "ZNxtCoreidentity",
"AppSecret" : "MySecret"
}