{
"ConnectionString" : "mongodb://localhost:27017",
"DataBaseName" : "ZNxtCore_G_TEST",
"WWWRootFolder" :"/wwwroot",
"AppEndpoint" : "https://localhost:44373",
"ApiGatewayEndpoint" : "https://localhost:44373",
"SSOUrl" : "https://localhost:44373",
"AppSecret" : "MySecret",
"RelyingPartyUrls" : "https://localhost:44373,http://s2ftechnologies.com",
"IsSSO" : "false",
"HttpPort" : "80",
"HttpsPort" : "443"
}