{
"ConnectionString" : "mongodb+srv://s2fsqa:s2f%24%24@s2fqa-20phe.mongodb.net/test?retryWrites=true&w=majority",
"DataBaseName" : "ZNxt_SQA_SSO",
"WWWRootFolder" :"/wwwroot",
"AppEndpoint" : "http://sqa.sso.s2fschool.com",
"ApiGatewayEndpoint" : "http://sqa.gateway.s2fschool.com",
"SSOUrl" : "http://localhost:3596",
"AppSecret" : "sqaSecret",
"RelyingPartyUrls" : "https://localhost:44373,http://s2ftechnologies.com",
"MobileRelyingPartyUrls" : "http://znxt.app",
"IsSSO" : "false",
"HttpPort" : "3596",
"HttpsPort" : "44373",
"AppName" : "ZNxt App"

}