{
"ConnectionString" : "mongodb+srv://admin:Z1WdqPea8UUWWFas@cluster0.xnvyq.mongodb.net/test?retryWrites=true&w=majority",
"DataBaseName" : "ZNxt_EM-QA-ECS-ADMIN",
"WWWRootFolder" :"/wwwroot",
"AppEndpoint" : "https://qa.ellummullum.com",
"ApiGatewayEndpoint" : "https://qa-gateway.ellummullum.com",
"SSOUrl" : "https://qa-sso.ellummullum.com",
"AppSecret" : "sqaSecret",
"RelyingPartyUrls" : "https://localhost:44373,http://s2ftechnologies.com",
"MobileRelyingPartyUrls" : "http://znxt.app",
"IsSSO" : "false",
"HttpPort" : "44370",
"HttpsPort" : "44373",
"AppName" : "ZNxt App",
"SetOrg" : false,
"StaticFilePath" : "E:\\code\\s2f\\em\\src\\web\\em.ui\\wwwroot\\backend",
"LogLevel" :"Debug,Info,Error"
}

