<div class="animated flipInY col-lg-4 col-md-4 col-sm-6 col-xs-12" ng-controller="ZNxtAppAdmin.userprofile.home.userRoleWidgetCtrl">
    <div class="tile-stats" style="cursor:pointer" ng-click="showGroups()">
        <div class="icon">
            <i class="glyphicon glyphicon-user"></i>
        </div>
        <div class="count">{{userData.roles.length}}</div>
        <h3>User Groups</h3>
        <p><span ng-repeat="g in userData.roles" class="label label-default" style="margin:5px">{{g}} </span></p>
    </div>
</div>