<div ng-controller="ZNxtAppAdmin.addUserCtrl">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Create New User</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <form name="frmAddUser">

                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group" ng-class="{'has-error' : frmAddUser.inputFirstName.$touched && frmAddUser.inputFirstName.$invalid}">
                                    <label for="inputFirstName"> First Name </label>
                                    <input type="text" class="form-control" name="inputFirstName" id="inputFirstName" placeholder="Enter  First name" ng-model="user.first_name" maxlength="150" ng-minlength="3" required />
                                    <span class="help-block" ng-show="frmAddUser.inputFirstName.$touched && frmAddUser.inputFirstName.$invalid">First Name is required and min length 3 chars.</span>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group" ng-class="{'has-error' : frmAddUser.inputMiddleName.$touched && frmAddUser.inputMiddleName.$invalid}">
                                    <label for="inputMiddleName"> Middle Name </label>
                                    <input type="text" class="form-control" name="inputMiddleName" id="inputMiddleName" placeholder="Enter middle name" ng-model="user.middle_name" maxlength="150" />
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group" ng-class="{'has-error' : frmAddUser.inputLastName.$touched && frmAddUser.inputLastName.$invalid}">
                                    <label for="inputLastName"> Last Name </label>
                                    <input type="text" class="form-control" name="inputLastName"  ng-blur="createUserName()" id="inputLastName" placeholder="Enter Last name" ng-model="user.last_name" maxlength="150" ng-minlength="3" required />
                                    <span class="help-block" ng-show="frmAddUser.inputLastName.$touched && frmAddUser.inputLastName.$invalid">Last name is required and min length 3 chars.</span>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group" ng-class="{'has-error' : frmAddUser.inputUsername.$touched && frmAddUser.inputUsername.$invalid}">
                                    <label for="inputUsername"> Username</label>
                                    <input type="text" class="form-control" name="inputUsername" id="inputUsername" placeholder="Enter  Username" ng-model="user.user_name" maxlength="150" ng-minlength="5" required />
                                    <span class="help-block" ng-show="frmAddUser.inputUsername.$touched && frmAddUser.inputUsername.$invalid">User name  is required and min length 5 chars.</span>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group" ng-class="{'has-error' : frmAddUser.inputEmail.$touched && frmAddUser.inputEmail.$invalid}">
                                    <label for="inputEmail"> Email </label>
                                    <input type="email" class="form-control" name="inputEmail" id="inputEmail" placeholder="Enter User email" ng-model="user.email" required />
                                    <span class="help-block" ng-show="frmAddUser.inputEmail.$touched && frmAddUser.inputEmail.$invalid">Please enter valid email </span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group" ng-class="{'has-error' : frmAddUser.inputMobileNumber.$touched && frmAddUser.inputMobileNumber.$invalid}">
                                    <label for="inputMobileNumber"> Mobile Number </label>
                                    <input type="number" class="form-control" name="inputMobileNumber" id="inputMobileNumber" placeholder="Enter mobile number" ng-model="user.mobile_number" maxlength="10" ng-minlength="10" required />
                                    <span class="help-block" ng-show="frmAddUser.inputMobileNumber.$touched && frmAddUser.inputMobileNumber.$invalid">Please enter 10 digit valid mobile number </span>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group" ng-class="{'has-error' : frmAddUser.inputWhatsappMobileNumber.$touched && frmAddUser.inputMobileNumber.$invalid}">
                                    <label for="inputMobileNumber"> WhatsApp mobile number  </label>
                                    <input type="number" class="form-control" name="inputMobileNumber" id="inputWhatsappMobileNumber" placeholder="Enter WhatsApp mobile number" ng-model="user.whatsapp_mobile_number" maxlength="10" ng-minlength="10" required />
                                    <span class="help-block" ng-show="frmAddUser.inputWhatsappMobileNumber.$touched && frmAddUser.inputWhatsappMobileNumber.$invalid">Please enter 10 digit valid WhatsApp mobile number</span>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group" ng-class="{'has-error' : frmAddUser.inputDOB.$touched && frmAddUser.inputDOB.$invalid}">
                                    <label for="inputDOB"> Date of Birth </label>
                                    <input class="form-control" type="date" name="inputDOB" id="inputDOB" ng-model="user.dateofbirth" required />
                                    <span class="help-block" ng-show="frmAddUser.inputDOB.$touched && frmAddUser.inputDOB.$invalid">Please enter Date of birth </span>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <button class="btn btn-default" ng-click="createUser();" ng-class="{'disabled': frmAddUser.$invalid}">
                                Create User
                            </button>
                            <button class="btn btn-default" ng-click="close()">
                                Cancel
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>

            //$(function () {
            //    var startDate = new Date('1965-01-01'),
            //        endDate = new Date('2020-01-01');
            //    $('#inputDOB').datetimepicker({
            //        weekStart: 1,
            //        todayBtn: 1,
            //        autoclose: 1,
            //        todayHighlight: 1,
            //        startView: 4,
            //        keyboardNavigation: 1,
            //        minView: 2,
            //        forceParse: 0,
            //        startDate: startDate,
            //        endDate: endDate,
            //        setDate: startDate
            //    });
            //});
    </script>
</div>